In [1]:
import warnings
import gc
import os
import random
import sys

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from datetime import datetime
from glob import glob
from tqdm import tqdm
from IPython.display import Image

In [2]:
warnings.filterwarnings(action = 'ignore')

In [3]:
train_2020 = []


train_2020 = pd.read_csv('C:/Users/dudwl/OneDrive/바탕 화면/데이콘/know/KNOW_data/train/KNOW_2020.csv')


test_2020 = []

test_2020 = pd.read_csv('C:/Users/dudwl/OneDrive/바탕 화면/데이콘/know/KNOW_data/test/KNOW_2020_test.csv')

In [4]:
for index, value, tindex, tvalue in zip(train_2020.isnull().sum().index, train_2020.isnull().sum(), test_2020.isnull().sum().index, test_2020.isnull().sum()):
    print(f"{index} : {value} / {tindex} : {tvalue} / {value + tvalue}")

idx : 0 / idx : 0 / 0
saq1_1 : 0 / saq1_1 : 0 / 0
saq1_2 : 0 / saq1_2 : 0 / 0
saq2_1 : 0 / saq2_1 : 0 / 0
saq2_2 : 0 / saq2_2 : 0 / 0
saq3_1 : 0 / saq3_1 : 0 / 0
saq3_2 : 0 / saq3_2 : 0 / 0
saq4_1 : 0 / saq4_1 : 0 / 0
saq4_2 : 0 / saq4_2 : 0 / 0
saq5_1 : 0 / saq5_1 : 0 / 0
saq5_2 : 0 / saq5_2 : 0 / 0
saq6_1 : 0 / saq6_1 : 0 / 0
saq6_2 : 0 / saq6_2 : 0 / 0
saq7_1 : 0 / saq7_1 : 0 / 0
saq7_2 : 0 / saq7_2 : 0 / 0
saq8_1 : 0 / saq8_1 : 0 / 0
saq8_2 : 0 / saq8_2 : 0 / 0
saq9_1 : 0 / saq9_1 : 0 / 0
saq9_2 : 0 / saq9_2 : 0 / 0
saq10_1 : 0 / saq10_1 : 0 / 0
saq10_2 : 0 / saq10_2 : 0 / 0
saq11_1 : 0 / saq11_1 : 0 / 0
saq11_2 : 0 / saq11_2 : 0 / 0
saq12_1 : 0 / saq12_1 : 0 / 0
saq12_2 : 0 / saq12_2 : 0 / 0
saq13_1 : 0 / saq13_1 : 0 / 0
saq13_2 : 0 / saq13_2 : 0 / 0
saq14_1 : 0 / saq14_1 : 0 / 0
saq14_2 : 0 / saq14_2 : 0 / 0
saq15_1 : 0 / saq15_1 : 0 / 0
saq15_2 : 0 / saq15_2 : 0 / 0
saq16_1 : 0 / saq16_1 : 0 / 0
saq16_2 : 0 / saq16_2 : 0 / 0
saq17_1 : 0 / saq17_1 : 0 / 0
saq17_2 : 0 / saq17_2 : 0 / 0
saq18_1 : 0 / saq18_1 : 0 / 0
saq18_2 : 0 / saq18_2 : 0 / 0
saq19_1 : 0 / saq19_1 : 0 / 0
saq19_2 : 0 / saq19_2 : 0 / 0
saq20_1 : 0 / saq20_1 : 0 / 0
saq20_2 : 0 / saq20_2 : 0 / 0
saq21_1 : 0 / saq21_1 : 0 / 0
saq21_2 : 0 / saq21_2 : 0 / 0
saq22_1 : 0 / saq22_1 : 0 / 0
saq22_2 : 0 / saq22_2 : 0 / 0
saq23_1 : 0 / saq23_1 : 0 / 0
saq23_2 : 0 / saq23_2 : 0 / 0
saq24_1 : 0 / saq24_1 : 0 / 0
saq24_2 : 0 / saq24_2 : 0 / 0
saq25_1 : 0 / saq25_1 : 0 / 0
saq25_2 : 0 / saq25_2 : 0 / 0
saq26_1 : 0 / saq26_1 : 0 / 0
saq26_2 : 0 / saq26_2 : 0 / 0
saq27_1 : 0 / saq27_1 : 0 / 0
saq27_2 : 0 / saq27_2 : 0 / 0
saq28_1 : 0 / saq28_1 : 0 / 0
saq28_2 : 0 / saq28_2 : 0 / 0
saq29_1 : 0 / saq29_1 : 0 / 0
saq29_2 : 0 / saq29_2 : 0 / 0
saq30_1 : 0 / saq30_1 : 0 / 0
saq30_2 : 0 / saq30_2 : 0 / 0
saq31_1 : 0 / saq31_1 : 0 / 0
saq31_2 : 0 / saq31_2 : 0 / 0
saq32_1 : 0 / saq32_1 : 0 / 0
saq32_2 : 0 / saq32_2 : 0 / 0
saq33_1 : 0 / saq33_1 : 0 / 0
saq33_2 : 0 / saq33_2 : 0 / 0
saq34_1 : 0 / saq34_1 : 0 / 0
saq34_2 : 0 / saq34_2 : 0 / 0
saq35_1 : 0 / saq35_1 : 0 / 0
saq35_2 : 0 / saq35_2 : 0 / 0
saq36_1 : 0 / saq36_1 : 0 / 0
saq36_2 : 0 / saq36_2 : 0 / 0
saq37_1 : 0 / saq37_1 : 0 / 0
saq37_2 : 0 / saq37_2 : 0 / 0
saq38_1 : 0 / saq38_1 : 0 / 0
saq38_2 : 0 / saq38_2 : 0 / 0
saq39_1 : 0 / saq39_1 : 0 / 0
saq39_2 : 0 / saq39_2 : 0 / 0
saq40_1 : 0 / saq40_1 : 0 / 0
saq40_2 : 0 / saq40_2 : 0 / 0
saq41_1 : 0 / saq41_1 : 0 / 0
saq41_2 : 0 / saq41_2 : 0 / 0
saq42_1 : 0 / saq42_1 : 0 / 0
saq42_2 : 0 / saq42_2 : 0 / 0
saq43_1 : 0 / saq43_1 : 0 / 0
saq43_2 : 0 / saq43_2 : 0 / 0
saq44_1 : 0 / saq44_1 : 0 / 0
saq44_2 : 0 / saq44_2 : 0 / 0
vq1 : 0 / vq1 : 0 / 0
vq2 : 0 / vq2 : 0 / 0
vq3 : 0 / vq3 : 0 / 0
vq4 : 0 / vq4 : 0 / 0
vq5 : 0 / vq5 : 0 / 0
vq6 : 0 / vq6 : 0 / 0
vq7 : 0 / vq7 : 0 / 0
vq8 : 0 / vq8 : 0 / 0
vq9 : 0 / vq9 : 0 / 0
vq10 : 0 / vq10 : 0 / 0
vq11 : 0 / vq11 : 0 / 0
vq12 : 0 / vq12 : 0 / 0
vq13 : 0 / vq13 : 0 / 0
bq1 : 0 / bq1 : 0 / 0
bq2 : 0 / bq2 : 0 / 0
bq3 : 0 / bq3 : 0 / 0
bq4 : 0 / bq4 : 0 / 0
bq4_1a : 0 / bq4_1a : 0 / 0
bq4_1b : 0 / bq4_1b : 0 / 0
bq4_1c : 0 / bq4_1c : 0 / 0
bq5 : 0 / bq5 : 0 / 0
bq5_1 : 0 / bq5_1 : 0 / 0
bq5_2 : 0 / bq5_2 : 0 / 0
bq6 : 0 / bq6 : 0 / 0
bq7 : 0 / bq7 : 0 / 0
bq8_1 : 0 / bq8_1 : 0 / 0
bq8_2 : 0 / bq8_2 : 0 / 0
bq8_3 : 0 / bq8_3 : 0 / 0
bq9 : 0 / bq9 : 0 / 0
bq10 : 0 / bq10 : 0 / 0
bq11 : 0 / bq11 : 0 / 0
bq12_1 : 0 / bq12_1 : 0 / 0
bq12_2 : 0 / bq12_2 : 0 / 0
bq12_3 : 0 / bq12_3 : 0 / 0
bq12_4 : 0 / bq12_4 : 0 / 0
bq12_5 : 0 / bq12_5 : 0 / 0
bq13_1 : 0 / bq13_1 : 0 / 0
bq13_2 : 0 / bq13_2 : 0 / 0
bq13_3 : 0 / bq13_3 : 0 / 0
bq14_1 : 0 / bq14_1 : 0 / 0
bq14_2 : 0 / bq14_2 : 0 / 0
bq14_3 : 0 / bq14_3 : 0 / 0
bq14_4 : 0 / bq14_4 : 0 / 0
bq14_5 : 0 / bq14_5 : 0 / 0
bq14_6 : 0 / bq14_6 : 0 / 0
bq14_7 : 0 / bq14_7 : 0 / 0
bq15 : 0 / bq15 : 0 / 0
bq16_1 : 0 / bq16_1 : 0 / 0
bq16_2 : 0 / bq16_2 : 0 / 0
bq16_3 : 0 / bq16_3 : 0 / 0
bq16_4 : 0 / bq16_4 : 0 / 0
bq16_5 : 0 / bq16_5 : 0 / 0
bq16_6 : 0 / bq16_6 : 0 / 0
bq16_7 : 0 / bq16_7 : 0 / 0
bq16_8 : 0 / bq16_8 : 0 / 0
bq16_9 : 0 / bq16_9 : 0 / 0
bq16_10 : 0 / bq16_10 : 0 / 0
bq17 : 0 / bq17 : 0 / 0
bq18_1 : 0 / bq18_1 : 0 / 0
bq18_2 : 0 / bq18_2 : 0 / 0
bq18_3 : 0 / bq18_3 : 0 / 0
bq18_4 : 0 / bq18_4 : 0 / 0
bq18_5 : 0 / bq18_5 : 0 / 0
bq18_6 : 0 / bq18_6 : 0 / 0
bq18_7 : 0 / bq18_7 : 0 / 0
bq18_8 : 0 / bq18_8 : 0 / 0
bq18_9 : 0 / bq18_9 : 0 / 0
bq18_10 : 1 / bq18_10 : 3 / 4
bq19 : 0 / bq19 : 0 / 0
bq20 : 0 / bq20 : 0 / 0
bq20_1 : 0 / bq20_1 : 0 / 0
bq21_1 : 0 / bq21_1 : 0 / 0
bq21_2 : 0 / bq21_2 : 0 / 0
bq21_3 : 0 / bq21_3 : 0 / 0
bq21_4 : 0 / bq21_4 : 0 / 0
bq22_1 : 0 / bq22_1 : 0 / 0
bq22_2 : 0 / bq22_2 : 0 / 0
bq22_3 : 0 / bq22_3 : 0 / 0
bq22_4 : 0 / bq22_4 : 0 / 0
bq22_5 : 0 / bq22_5 : 0 / 0
bq22_6 : 0 / bq22_6 : 0 / 0
bq23_1 : 0 / bq23_1 : 0 / 0
bq23_2 : 0 / bq23_2 : 0 / 0
bq23_3 : 0 / bq23_3 : 0 / 0
bq24 : 0 / bq24 : 0 / 0
bq25 : 0 / bq25 : 0 / 0
bq26 : 0 / bq26 : 0 / 0
bq26_1 : 0 / bq26_1 : 0 / 0
bq27_1 : 0 / bq27_1 : 0 / 0
bq27_2 : 0 / bq27_2 : 0 / 0
bq28 : 0 / bq28 : 0 / 0
bq29 : 0 / bq29 : 0 / 0
bq30_1 : 0 / bq30_1 : 0 / 0
bq30_2 : 0 / bq30_2 : 0 / 0
bq30_3 : 0 / bq30_3 : 0 / 0

In [5]:
for col in test_2020:
    if col == 'idx':
        continue
        
    train_2020.replace(' ', np.nan, inplace = True)
    test_2020.replace(' ', np.nan, inplace = True)

In [6]:
have_nan_columns = []
for index, value, tindex, tvalue in zip(train_2020.isnull().sum().index, train_2020.isnull().sum(), test_2020.isnull().sum().index, test_2020.isnull().sum()):
    print(f"{index} : {value} / {tindex} : {tvalue} / {value + tvalue}")
    if (value > 0) | (tvalue > 0):
        have_nan_columns.append(index)

idx : 0 / idx : 0 / 0
saq1_1 : 0 / saq1_1 : 0 / 0
saq1_2 : 676 / saq1_2 : 683 / 1359
saq2_1 : 0 / saq2_1 : 0 / 0
saq2_2 : 457 / saq2_2 : 456 / 913
saq3_1 : 0 / saq3_1 : 0 / 0
saq3_2 : 1606 / saq3_2 : 1618 / 3224
saq4_1 : 0 / saq4_1 : 0 / 0
saq4_2 : 836 / saq4_2 : 890 / 1726
saq5_1 : 0 / saq5_1 : 0 / 0
saq5_2 : 1705 / saq5_2 : 1689 / 3394
saq6_1 : 0 / saq6_1 : 0 / 0
saq6_2 : 1312 / saq6_2 : 1342 / 2654
saq7_1 : 0 / saq7_1 : 0 / 0
saq7_2 : 2175 / saq7_2 : 2148 / 4323
saq8_1 : 0 / saq8_1 : 0 / 0
saq8_2 : 845 / saq8_2 : 873 / 1718
saq9_1 : 0 / saq9_1 : 0 / 0
saq9_2 : 531 / saq9_2 : 595 / 1126
saq10_1 : 0 / saq10_1 : 0 / 0
saq10_2 : 1546 / saq10_2 : 1554 / 3100
saq11_1 : 0 / saq11_1 : 0 / 0
saq11_2 : 1821 / saq11_2 : 1786 / 3607
saq12_1 : 0 / saq12_1 : 0 / 0
saq12_2 : 1297 / saq12_2 : 1353 / 2650
saq13_1 : 0 / saq13_1 : 0 / 0
saq13_2 : 515 / saq13_2 : 537 / 1052
saq14_1 : 0 / saq14_1 : 0 / 0
saq14_2 : 1490 / saq14_2 : 1506 / 2996
saq15_1 : 0 / saq15_1 : 0 / 0
saq15_2 : 1378 / saq15_2 : 1384 / 2762
saq16_1 : 0 / saq16_1 : 0 / 0
saq16_2 : 1118 / saq16_2 : 1165 / 2283
saq17_1 : 0 / saq17_1 : 0 / 0
saq17_2 : 2006 / saq17_2 : 2034 / 4040
saq18_1 : 0 / saq18_1 : 0 / 0
saq18_2 : 2356 / saq18_2 : 2323 / 4679
saq19_1 : 0 / saq19_1 : 0 / 0
saq19_2 : 1591 / saq19_2 : 1671 / 3262
saq20_1 : 0 / saq20_1 : 0 / 0
saq20_2 : 1159 / saq20_2 : 1179 / 2338
saq21_1 : 0 / saq21_1 : 0 / 0
saq21_2 : 676 / saq21_2 : 689 / 1365
saq22_1 : 0 / saq22_1 : 0 / 0
saq22_2 : 1042 / saq22_2 : 1079 / 2121
saq23_1 : 0 / saq23_1 : 0 / 0
saq23_2 : 878 / saq23_2 : 911 / 1789
saq24_1 : 0 / saq24_1 : 0 / 0
saq24_2 : 2700 / saq24_2 : 2727 / 5427
saq25_1 : 0 / saq25_1 : 0 / 0
saq25_2 : 2252 / saq25_2 : 2245 / 4497
saq26_1 : 0 / saq26_1 : 0 / 0
saq26_2 : 2651 / saq26_2 : 2646 / 5297
saq27_1 : 0 / saq27_1 : 0 / 0
saq27_2 : 2144 / saq27_2 : 2154 / 4298
saq28_1 : 0 / saq28_1 : 0 / 0
saq28_2 : 3176 / saq28_2 : 3189 / 6365
saq29_1 : 0 / saq29_1 : 0 / 0
saq29_2 : 2106 / saq29_2 : 2187 / 4293
saq30_1 : 0 / saq30_1 : 0 / 0
saq30_2 : 2975 / saq30_2 : 2949 / 5924
saq31_1 : 0 / saq31_1 : 0 / 0
saq31_2 : 2246 / saq31_2 : 2281 / 4527
saq32_1 : 0 / saq32_1 : 0 / 0
saq32_2 : 2690 / saq32_2 : 2727 / 5417
saq33_1 : 0 / saq33_1 : 0 / 0
saq33_2 : 2042 / saq33_2 : 2048 / 4090
saq34_1 : 0 / saq34_1 : 0 / 0
saq34_2 : 2319 / saq34_2 : 2299 / 4618
saq35_1 : 0 / saq35_1 : 0 / 0
saq35_2 : 2762 / saq35_2 : 2758 / 5520
saq36_1 : 0 / saq36_1 : 0 / 0
saq36_2 : 2668 / saq36_2 : 2667 / 5335
saq37_1 : 0 / saq37_1 : 0 / 0
saq37_2 : 2702 / saq37_2 : 2709 / 5411
saq38_1 : 0 / saq38_1 : 0 / 0
saq38_2 : 2125 / saq38_2 : 2042 / 4167
saq39_1 : 0 / saq39_1 : 0 / 0
saq39_2 : 2026 / saq39_2 : 2078 / 4104
saq40_1 : 0 / saq40_1 : 0 / 0
saq40_2 : 2104 / saq40_2 : 2088 / 4192
saq41_1 : 0 / saq41_1 : 0 / 0
saq41_2 : 1999 / saq41_2 : 2029 / 4028
saq42_1 : 0 / saq42_1 : 0 / 0
saq42_2 : 2119 / saq42_2 : 2226 / 4345
saq43_1 : 0 / saq43_1 : 0 / 0
saq43_2 : 542 / saq43_2 : 524 / 1066
saq44_1 : 0 / saq44_1 : 0 / 0
saq44_2 : 1183 / saq44_2 : 1260 / 2443
vq1 : 0 / vq1 : 0 / 0
vq2 : 0 / vq2 : 0 / 0
vq3 : 0 / vq3 : 0 / 0
vq4 : 0 / vq4 : 0 / 0
vq5 : 0 / vq5 : 0 / 0
vq6 : 0 / vq6 : 0 / 0
vq7 : 0 / vq7 : 0 / 0
vq8 : 0 / vq8 : 0 / 0
vq9 : 0 / vq9 : 0 / 0
vq10 : 0 / vq10 : 0 / 0
vq11 : 0 / vq11 : 0 / 0
vq12 : 0 / vq12 : 0 / 0
vq13 : 0 / vq13 : 0 / 0
bq1 : 0 / bq1 : 0 / 0
bq2 : 0 / bq2 : 0 / 0
bq3 : 0 / bq3 : 0 / 0
bq4 : 0 / bq4 : 0 / 0
bq4_1a : 3847 / bq4_1a : 3881 / 7728
bq4_1b : 6958 / bq4_1b : 7059 / 14017
bq4_1c : 7878 / bq4_1c : 7888 / 15766
bq5 : 0 / bq5 : 0 / 0
bq5_1 : 5816 / bq5_1 : 5822 / 11638
bq5_2 : 5816 / bq5_2 : 5822 / 11638
bq6 : 0 / bq6 : 0 / 0
bq7 : 0 / bq7 : 0 / 0
bq8_1 : 0 / bq8_1 : 0 / 0
bq8_2 : 0 / bq8_2 : 0 / 0
bq8_3 : 0 / bq8_3 : 0 / 0
bq9 : 0 / bq9 : 0 / 0
bq10 : 0 / bq10 : 0 / 0
bq11 : 0 / bq11 : 0 / 0
bq12_1 : 0 / bq12_1 : 0 / 0
bq12_2 : 0 / bq12_2 : 0 / 0
bq12_3 : 0 / bq12_3 : 0 / 0
bq12_4 : 0 / bq12_4 : 0 / 0
bq12_5 : 0 / bq12_5 : 0 / 0
bq13_1 : 0 / bq13_1 : 0 / 0
bq13_2 : 0 / bq13_2 : 0 / 0
bq13_3 : 0 / bq13_3 : 0 / 0
bq14_1 : 0 / bq14_1 : 0 / 0
bq14_2 : 0 / bq14_2 : 0 / 0
bq14_3 : 0 / bq14_3 : 0 / 0
bq14_4 : 0 / bq14_4 : 0 / 0
bq14_5 : 0 / bq14_5 : 0 / 0
bq14_6 : 0 / bq14_6 : 0 / 0
bq14_7 : 0 / bq14_7 : 0 / 0
bq15 : 0 / bq15 : 0 / 0
bq16_1 : 0 / bq16_1 : 0 / 0
bq16_2 : 0 / bq16_2 : 0 / 0
bq16_3 : 0 / bq16_3 : 0 / 0
bq16_4 : 0 / bq16_4 : 0 / 0
bq16_5 : 0 / bq16_5 : 0 / 0
bq16_6 : 0 / bq16_6 : 0 / 0
bq16_7 : 0 / bq16_7 : 0 / 0
bq16_8 : 0 / bq16_8 : 0 / 0
bq16_9 : 0 / bq16_9 : 0 / 0
bq16_10 : 0 / bq16_10 : 0 / 0
bq17 : 0 / bq17 : 0 / 0
bq18_1 : 0 / bq18_1 : 0 / 0
bq18_2 : 0 / bq18_2 : 0 / 0
bq18_3 : 0 / bq18_3 : 0 / 0
bq18_4 : 0 / bq18_4 : 0 / 0
bq18_5 : 0 / bq18_5 : 0 / 0
bq18_6 : 0 / bq18_6 : 0 / 0
bq18_7 : 0 / bq18_7 : 0 / 0
bq18_8 : 0 / bq18_8 : 0 / 0
bq18_9 : 0 / bq18_9 : 0 / 0
bq18_10 : 6693 / bq18_10 : 6742 / 13435
bq19 : 0 / bq19 : 0 / 0
bq20 : 0 / bq20 : 0 / 0
bq20_1 : 0 / bq20_1 : 0 / 0
bq21_1 : 0 / bq21_1 : 0 / 0
bq21_2 : 0 / bq21_2 : 0 / 0
bq21_3 : 0 / bq21_3 : 0 / 0
bq21_4 : 0 / bq21_4 : 0 / 0
bq22_1 : 0 / bq22_1 : 0 / 0
bq22_2 : 0 / bq22_2 : 0 / 0
bq22_3 : 0 / bq22_3 : 0 / 0
bq22_4 : 0 / bq22_4 : 0 / 0
bq22_5 : 0 / bq22_5 : 0 / 0
bq22_6 : 0 / bq22_6 : 0 / 0
bq23_1 : 0 / bq23_1 : 0 / 0
bq23_2 : 0 / bq23_2 : 0 / 0
bq23_3 : 0 / bq23_3 : 0 / 0
bq24 : 0 / bq24 : 0 / 0
bq25 : 0 / bq25 : 0 / 0
bq26 : 0 / bq26 : 0 / 0
bq26_1 : 134 / bq26_1 : 156 / 290
bq27_1 : 0 / bq27_1 : 0 / 0
bq27_2 : 0 / bq27_2 : 0 / 0
bq28 : 2 / bq28 : 6 / 8
bq29 : 0 / bq29 : 0 / 0
bq30_1 : 1016 / bq30_1 : 1014 / 2030
bq30_2 : 1018 / bq30_2 : 1014 / 2032
bq30_3 : 7104 / bq30_3 : 7108 / 14212

In [7]:
have_nan_columns

['saq1_2',
 'saq2_2',
 'saq3_2',
 'saq4_2',
 'saq5_2',
 'saq6_2',
 'saq7_2',
 'saq8_2',
 'saq9_2',
 'saq10_2',
 'saq11_2',
 'saq12_2',
 'saq13_2',
 'saq14_2',
 'saq15_2',
 'saq16_2',
 'saq17_2',
 'saq18_2',
 'saq19_2',
 'saq20_2',
 'saq21_2',
 'saq22_2',
 'saq23_2',
 'saq24_2',
 'saq25_2',
 'saq26_2',
 'saq27_2',
 'saq28_2',
 'saq29_2',
 'saq30_2',
 'saq31_2',
 'saq32_2',
 'saq33_2',
 'saq34_2',
 'saq35_2',
 'saq36_2',
 'saq37_2',
 'saq38_2',
 'saq39_2',
 'saq40_2',
 'saq41_2',
 'saq42_2',
 'saq43_2',
 'saq44_2',
 'bq4_1a',
 'bq4_1b',
 'bq4_1c',
 'bq5_1',
 'bq5_2',
 'bq18_10',
 'bq26_1',
 'bq28',
 'bq30_1',
 'bq30_2',
 'bq30_3']

## saq 1_2 ~ 44_2까지의 결측치 값 처리 방법
- 위의 결측치 값들은 모두 동일한 형태로, 1번의 선행 질문에서 1번 (중요하지 않다)을 답한 사람들은 2번에 답하지 않는 구조이다. 
- 즉, 1번에서 1으로 응답했다면 2번은 null이어야하고, 1번에서 2~5로 응답하였으면 2번이 null이면 안된다. 
- 1번에서 1로 응답했지만 2번을 응답한 경우와, 1번에서 2~5로 응답했지만 2번을 응답하지 않은 경우를 찾아보자.

In [8]:
for i in range(1, 45):
    if len(train_2020.loc[lambda x : (x['saq'+str(i)+'_2'].notnull()) & (x['saq'+str(i)+'_1'] == 1)]) != 0:
        print(i)

40

In [9]:
train_2020.loc[lambda x : (x['saq'+str(40)+'_2'].notnull()) & (x['saq'+str(40)+'_1'] == 1)]

,idx,saq1_1,saq1_2,saq2_1,saq2_2,saq3_1,saq3_2,saq4_1,saq4_2,saq5_1,...,bq26,bq26_1,bq27_1,bq27_2,bq28,bq29,bq30_1,bq30_2,bq30_3,knowcode
2177,29304,3,7,3,6,3,5,3,6,3,...,4,경영학,1,1,1,48,4500,2500,NaN,26301

위의 한 경우에서는 40_1번을 1로 답하였지만 40_2번을 응답한 경우이다. 이 경우 40_2번을 NaN값으로 변경해주어야 한다.

In [10]:
train_2020.loc[lambda x : (x['saq'+str(40)+'_2'].notnull()) & (x['saq'+str(40)+'_1'] == 1), 'saq40_2'] = np.nan

In [11]:
train_2020.loc[lambda x : (x['saq'+str(40)+'_2'].notnull()) & (x['saq'+str(40)+'_1'] == 1)]

Empty DataFrame
Columns: [idx, saq1_1, saq1_2, saq2_1, saq2_2, saq3_1, saq3_2, saq4_1, saq4_2, saq5_1, saq5_2, saq6_1, saq6_2, saq7_1, saq7_2, saq8_1, saq8_2, saq9_1, saq9_2, saq10_1, saq10_2, saq11_1, saq11_2, saq12_1, saq12_2, saq13_1, saq13_2, saq14_1, saq14_2, saq15_1, saq15_2, saq16_1, saq16_2, saq17_1, saq17_2, saq18_1, saq18_2, saq19_1, saq19_2, saq20_1, saq20_2, saq21_1, saq21_2, saq22_1, saq22_2, saq23_1, saq23_2, saq24_1, saq24_2, saq25_1, saq25_2, saq26_1, saq26_2, saq27_1, saq27_2, saq28_1, saq28_2, saq29_1, saq29_2, saq30_1, saq30_2, saq31_1, saq31_2, saq32_1, saq32_2, saq33_1, saq33_2, saq34_1, saq34_2, saq35_1, saq35_2, saq36_1, saq36_2, saq37_1, saq37_2, saq38_1, saq38_2, saq39_1, saq39_2, saq40_1, saq40_2, saq41_1, saq41_2, saq42_1, saq42_2, saq43_1, saq43_2, saq44_1, saq44_2, vq1, vq2, vq3, vq4, vq5, vq6, vq7, vq8, vq9, vq10, vq11, ...]
Index: []

[0 rows x 185 columns]

In [12]:
for i in range(1, 45):
    if len(train_2020.loc[lambda x : (x['saq'+str(i)+'_2'].isnull()) & (x['saq'+str(i)+'_1'] != 1)]) != 0:
        print(i)

In [13]:
for i in range(1, 45):
    train_2020.loc[lambda x : (x['saq'+str(i)+'_2'].isnull()) & (x['saq'+str(i)+'_1'] == 1), 'saq'+str(i)+'_2'] = 0

In [14]:
for i in range(1, 45):
    if len(test_2020.loc[lambda x : (x['saq'+str(i)+'_2'].notnull()) & (x['saq'+str(i)+'_1'] == 1)]) != 0:
        print(i)

In [15]:
for i in range(1, 45):
    if len(test_2020.loc[lambda x : (x['saq'+str(i)+'_2'].isnull()) & (x['saq'+str(i)+'_1'] != 1)]) != 0:
        print(i)

40

* 가에서 중요하지 않다를 제외한 다른 문항을 선택하였을때 나에서 값이 존재하지 않는 행을 골라낸다

In [16]:
test_2020.loc[lambda x : (x['saq'+str(40)+'_2'].isnull()) & (x['saq'+str(40)+'_1'] != 1)]

,idx,saq1_1,saq1_2,saq2_1,saq2_2,saq3_1,saq3_2,saq4_1,saq4_2,saq5_1,...,bq25,bq26,bq26_1,bq27_1,bq27_2,bq28,bq29,bq30_1,bq30_2,bq30_3
7136,34263,4,3,3,4,4,4,4,4,4,...,39,4,경영학,1,1,1,45,4500,3500,NaN

In [17]:
test_2020.saq40_2.value_counts()

4    1940
3    1497
5    1326
2     816
6     301
1     122
7      32
Name: saq40_2, dtype: int64

In [18]:
test_2020.loc[lambda x : (x['saq'+str(40)+'_2'].isnull()) & (x['saq'+str(40)+'_1'] != 1), 'saq40_2'] = 4

In [19]:
test_2020.loc[lambda x : (x['saq'+str(40)+'_2'].isnull()) & (x['saq'+str(40)+'_1'] != 1)]

Empty DataFrame
Columns: [idx, saq1_1, saq1_2, saq2_1, saq2_2, saq3_1, saq3_2, saq4_1, saq4_2, saq5_1, saq5_2, saq6_1, saq6_2, saq7_1, saq7_2, saq8_1, saq8_2, saq9_1, saq9_2, saq10_1, saq10_2, saq11_1, saq11_2, saq12_1, saq12_2, saq13_1, saq13_2, saq14_1, saq14_2, saq15_1, saq15_2, saq16_1, saq16_2, saq17_1, saq17_2, saq18_1, saq18_2, saq19_1, saq19_2, saq20_1, saq20_2, saq21_1, saq21_2, saq22_1, saq22_2, saq23_1, saq23_2, saq24_1, saq24_2, saq25_1, saq25_2, saq26_1, saq26_2, saq27_1, saq27_2, saq28_1, saq28_2, saq29_1, saq29_2, saq30_1, saq30_2, saq31_1, saq31_2, saq32_1, saq32_2, saq33_1, saq33_2, saq34_1, saq34_2, saq35_1, saq35_2, saq36_1, saq36_2, saq37_1, saq37_2, saq38_1, saq38_2, saq39_1, saq39_2, saq40_1, saq40_2, saq41_1, saq41_2, saq42_1, saq42_2, saq43_1, saq43_2, saq44_1, saq44_2, vq1, vq2, vq3, vq4, vq5, vq6, vq7, vq8, vq9, vq10, vq11, ...]
Index: []

[0 rows x 184 columns]

In [20]:
for i in range(1, 45):
    test_2020.loc[lambda x : (x['saq'+str(i)+'_2'].isnull()) & (x['saq'+str(i)+'_1'] == 1), 'saq'+str(i)+'_2'] = 0

### bq4번 결측치 처리

* 4번 문항에서 2번을 선택하였으면 5번으로 넘어가므로 통일시켜서 결측치를 0값을 넣어주도록 하겠습니다

In [21]:
train_2020.loc[(train_2020['bq4'] == 2) & (train_2020['bq4_1a'].isnull()), 'bq4_1a'] = 0
test_2020.loc[(test_2020['bq4'] == 2) & (test_2020['bq4_1a'].isnull()), 'bq4_1a'] = 0
train_2020.loc[(train_2020['bq4'] == 2) & (train_2020['bq4_1b'].isnull()), 'bq4_1b'] = 0
train_2020.loc[(train_2020['bq4'] == 2) & (train_2020['bq4_1c'].isnull()), 'bq4_1c'] = 0
test_2020.loc[(test_2020['bq4'] == 2) & (test_2020['bq4_1b'].isnull()), 'bq4_1b'] = 0
test_2020.loc[(test_2020['bq4'] == 2) & (test_2020['bq4_1c'].isnull()), 'bq4_1c'] = 0

In [22]:
display(train_2020[(train_2020['bq4']==1)&(train_2020['bq4_1a'].isnull())])

Empty DataFrame
Columns: [idx, saq1_1, saq1_2, saq2_1, saq2_2, saq3_1, saq3_2, saq4_1, saq4_2, saq5_1, saq5_2, saq6_1, saq6_2, saq7_1, saq7_2, saq8_1, saq8_2, saq9_1, saq9_2, saq10_1, saq10_2, saq11_1, saq11_2, saq12_1, saq12_2, saq13_1, saq13_2, saq14_1, saq14_2, saq15_1, saq15_2, saq16_1, saq16_2, saq17_1, saq17_2, saq18_1, saq18_2, saq19_1, saq19_2, saq20_1, saq20_2, saq21_1, saq21_2, saq22_1, saq22_2, saq23_1, saq23_2, saq24_1, saq24_2, saq25_1, saq25_2, saq26_1, saq26_2, saq27_1, saq27_2, saq28_1, saq28_2, saq29_1, saq29_2, saq30_1, saq30_2, saq31_1, saq31_2, saq32_1, saq32_2, saq33_1, saq33_2, saq34_1, saq34_2, saq35_1, saq35_2, saq36_1, saq36_2, saq37_1, saq37_2, saq38_1, saq38_2, saq39_1, saq39_2, saq40_1, saq40_2, saq41_1, saq41_2, saq42_1, saq42_2, saq43_1, saq43_2, saq44_1, saq44_2, vq1, vq2, vq3, vq4, vq5, vq6, vq7, vq8, vq9, vq10, vq11, ...]
Index: []

[0 rows x 185 columns]

In [23]:
train_2020.loc[(train_2020['bq4_1b'].isnull()), 'bq4_1b'] = '없음'
train_2020.loc[(train_2020['bq4_1c'].isnull()), 'bq4_1c'] = '없음'
test_2020.loc[(test_2020['bq4_1b'].isnull()), 'bq4_1b'] = '없음'
test_2020.loc[(test_2020['bq4_1c'].isnull()), 'bq4_1c'] = '없음'

In [24]:
for col in test_2020:
    train_2020[col].replace('없다','없음', inplace = True)
    test_2020[col].replace('없다','없음', inplace = True)

### bq5 결측치 처리

* 5번 또한 5번에서 2를 선택했을때 다음 문항으로 넘어가므로 위와 동일하게 처리해준다.

In [25]:
display(train_2020[(train_2020['bq5'] == 2) & (train_2020['bq5_1'].isnull())])
display(test_2020[(test_2020['bq5'] == 2) & (test_2020['bq5_1'].isnull())])

,idx,saq1_1,saq1_2,saq2_1,saq2_2,saq3_1,saq3_2,saq4_1,saq4_2,saq5_1,...,bq26,bq26_1,bq27_1,bq27_2,bq28,bq29,bq30_1,bq30_2,bq30_3,knowcode
0,27127,4,4,4,4,4,5,4,5,3,...,4,간호학,1,1,1,40,4000,2600,NaN,304003
2,27129,3,4,3,4,3,4,3,5,3,...,4,기계,1,1,1,48,4300,3000,NaN,815001
4,27131,5,6,4,5,3,5,4,4,4,...,4,건축설비공학,1,1,1,40,5700,2700,NaN,140201
5,27132,4,5,5,6,3,4,5,6,3,...,4,경제학,1,1,1,40,4500,3200,NaN,32201
6,27133,4,4,3,4,2,3,3,3,3,...,4,대학교 기계학,1,1,1,52,3800,2800,NaN,835201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8117,35244,4,6,3,5,3,3,1,0,5,...,6,지구과학,1,1,1,40,5100,4000,NaN,121105
8118,35245,3,4,4,5,2,4,4,6,1,...,4,광고학,1,1,1,45,3100,2600,NaN,26102
8119,35246,5,6,3,4,3,4,4,5,5,...,4,국문,1,1,1,40,8000,3000,NaN,31301
8120,35247,5,6,5,5,4,5,3,3,3,...,5,화학공학,1,1,1,40,5700,3200,NaN,154105
8121,35248,2,5,4,6,3,5,4,5,3,...,3,조리학,1,1,1,46,3700,2700,NaN,14201

,idx,saq1_1,saq1_2,saq2_1,saq2_2,saq3_1,saq3_2,saq4_1,saq4_2,saq5_1,...,bq25,bq26,bq26_1,bq27_1,bq27_2,bq28,bq29,bq30_1,bq30_2,bq30_3
1,27128,4,5,4,5,4,5,3,4,4,...,58,4,한약학,2,5,1,40,NaN,NaN,5800
2,27129,4,6,4,5,4,7,2,4,1,...,38,4,신문방송학,1,1,1,48,4700,3400,NaN
3,27130,3,4,3,4,3,3,1,0,2,...,39,5,임학,1,1,1,40,4900,4500,NaN
5,27132,5,6,5,6,4,6,5,6,4,...,60,4,경영학,1,1,1,48,8500,5000,NaN
7,27134,4,4,4,3,3,3,3,3,3,...,55,2,상고,2,6,1,60,NaN,NaN,2900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8116,35243,3,4,3,5,2,4,2,4,2,...,40,4,전기,1,1,1,40,4500,3500,NaN
8117,35244,2,2,3,3,2,2,2,1,3,...,34,4,제어계측,1,1,1,40,4200,3200,NaN
8118,35245,5,6,5,6,4,6,3,3,3,...,32,4,일어일문,1,1,1,40,2600,2200,NaN
8119,35246,3,3,3,3,3,5,3,3,4,...,37,4,전기공학,1,1,1,45,4800,4100,NaN
8121,35248,3,5,3,5,3,4,3,4,2,...,47,4,에너지공학,1,1,1,40,5000,4000,NaN

In [26]:
display(train_2020[(train_2020['bq5'] == 2) & (train_2020['bq5_1'].isnull())&(train_2020['bq5_2'].isnull())])
display(test_2020[(test_2020['bq5'] == 2) & (test_2020['bq5_1'].isnull())&(train_2020['bq5_2'].isnull())])

,idx,saq1_1,saq1_2,saq2_1,saq2_2,saq3_1,saq3_2,saq4_1,saq4_2,saq5_1,...,bq26,bq26_1,bq27_1,bq27_2,bq28,bq29,bq30_1,bq30_2,bq30_3,knowcode
0,27127,4,4,4,4,4,5,4,5,3,...,4,간호학,1,1,1,40,4000,2600,NaN,304003
2,27129,3,4,3,4,3,4,3,5,3,...,4,기계,1,1,1,48,4300,3000,NaN,815001
4,27131,5,6,4,5,3,5,4,4,4,...,4,건축설비공학,1,1,1,40,5700,2700,NaN,140201
5,27132,4,5,5,6,3,4,5,6,3,...,4,경제학,1,1,1,40,4500,3200,NaN,32201
6,27133,4,4,3,4,2,3,3,3,3,...,4,대학교 기계학,1,1,1,52,3800,2800,NaN,835201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8117,35244,4,6,3,5,3,3,1,0,5,...,6,지구과학,1,1,1,40,5100,4000,NaN,121105
8118,35245,3,4,4,5,2,4,4,6,1,...,4,광고학,1,1,1,45,3100,2600,NaN,26102
8119,35246,5,6,3,4,3,4,4,5,5,...,4,국문,1,1,1,40,8000,3000,NaN,31301
8120,35247,5,6,5,5,4,5,3,3,3,...,5,화학공학,1,1,1,40,5700,3200,NaN,154105
8121,35248,2,5,4,6,3,5,4,5,3,...,3,조리학,1,1,1,46,3700,2700,NaN,14201

,idx,saq1_1,saq1_2,saq2_1,saq2_2,saq3_1,saq3_2,saq4_1,saq4_2,saq5_1,...,bq25,bq26,bq26_1,bq27_1,bq27_2,bq28,bq29,bq30_1,bq30_2,bq30_3
2,27129,4,6,4,5,4,7,2,4,1,...,38,4,신문방송학,1,1,1,48,4700,3400,NaN
5,27132,5,6,5,6,4,6,5,6,4,...,60,4,경영학,1,1,1,48,8500,5000,NaN
7,27134,4,4,4,3,3,3,3,3,3,...,55,2,상고,2,6,1,60,NaN,NaN,2900
11,27138,5,7,5,7,4,6,4,6,4,...,50,4,법학,2,5,1,40,NaN,NaN,8000
19,27146,5,7,5,6,5,6,5,7,4,...,50,6,약학,1,1,1,40,7500,3200,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8116,35243,3,4,3,5,2,4,2,4,2,...,40,4,전기,1,1,1,40,4500,3500,NaN
8117,35244,2,2,3,3,2,2,2,1,3,...,34,4,제어계측,1,1,1,40,4200,3200,NaN
8118,35245,5,6,5,6,4,6,3,3,3,...,32,4,일어일문,1,1,1,40,2600,2200,NaN
8119,35246,3,3,3,3,3,5,3,3,4,...,37,4,전기공학,1,1,1,45,4800,4100,NaN
8121,35248,3,5,3,5,3,4,3,4,2,...,47,4,에너지공학,1,1,1,40,5000,4000,NaN

In [27]:
train_2020.loc[(train_2020['bq5'] == 2) & (train_2020['bq5_1'].isnull()),'bq5_1'] = 0
test_2020.loc[(test_2020['bq5'] == 2) & (test_2020['bq5_1'].isnull()),'bq5_1'] = 0

In [28]:
train_2020.loc[(train_2020['bq5'] == 2) & (train_2020['bq5_2'].isnull()),'bq5_2'] = 0
test_2020.loc[(test_2020['bq5'] == 2) & (test_2020['bq5_2'].isnull()),'bq5_2'] = 0

In [29]:
display(train_2020.bq5_1.isnull().sum())
display(test_2020.bq5_1.isnull().sum())
display(train_2020.bq5_2.isnull().sum())
display(test_2020.bq5_2.isnull().sum())

0

0

0

0

### bq18 결측치 제거

* 해당 질문에서 10은 예시를 드는 것으로 분석에 사용을 하지 않을거기 때문에 제거를 해주겠습니다.

In [30]:
train_2020 = train_2020.drop(columns = ['bq18_10'])
test_2020 = test_2020.drop(columns = ['bq18_10'])

### bq26_1 결측치 제거

In [66]:
display(train_2020[(train_2020['bq26_1'].isnull())][['bq26_1']])
display(test_2020[(test_2020['bq26_1'].isnull())][['bq26_1']])
for col in ['bq26_1']:
    train_2020[col].replace(np.nan, '없음', inplace = True)
    test_2020[col].replace(np.nan, '없음', inplace = True)
display(train_2020[(train_2020['bq26_1'].isnull())][['bq26_1']])
display(test_2020[(test_2020['bq26_1'].isnull())][['bq26_1']])

Empty DataFrame
Columns: [bq26_1]
Index: []

Empty DataFrame
Columns: [bq26_1]
Index: []

Empty DataFrame
Columns: [bq26_1]
Index: []

Empty DataFrame
Columns: [bq26_1]
Index: []

### bq28 결측치 제거

In [69]:
display(train_2020[(train_2020['bq28'].isnull())][['bq28']])
display(test_2020[(test_2020['bq28'].isnull())][['bq28']])

Empty DataFrame
Columns: [bq28]
Index: []

Empty DataFrame
Columns: [bq28]
Index: []

In [70]:
train_2020.loc[((train_2020['bq30_1'].notnull())&(train_2020['bq30_2'].notnull())), 'bq28'] = 1
test_2020.loc[((test_2020['bq30_1'].notnull())&(test_2020['bq30_2'].notnull())), 'bq28'] = 1
train_2020.loc[((train_2020['bq30_3'].notnull())), 'bq28'] = 2
test_2020.loc[((test_2020['bq30_3'].notnull())), 'bq28'] = 2

KeyError: 'bq30_1'

### bq 30_1,2,3 결측치 제거

In [60]:
train_2020 = train_2020.drop(columns = ['bq30_1', 'bq30_2', 'bq30_3'])
test_2020 = test_2020.drop(columns = ['bq30_1', 'bq30_2', 'bq30_3'])

In [71]:
for index, value, tindex, tvalue in zip(train_2020.isnull().sum().index, train_2020.isnull().sum(), test_2020.isnull().sum().index, test_2020.isnull().sum()):
    print(f"{index} : {value} / {tindex} : {tvalue} / {value + tvalue}")

idx : 0 / idx : 0 / 0
saq1_1 : 0 / saq1_1 : 0 / 0
saq1_2 : 0 / saq1_2 : 0 / 0
saq2_1 : 0 / saq2_1 : 0 / 0
saq2_2 : 0 / saq2_2 : 0 / 0
saq3_1 : 0 / saq3_1 : 0 / 0
saq3_2 : 0 / saq3_2 : 0 / 0
saq4_1 : 0 / saq4_1 : 0 / 0
saq4_2 : 0 / saq4_2 : 0 / 0
saq5_1 : 0 / saq5_1 : 0 / 0
saq5_2 : 0 / saq5_2 : 0 / 0
saq6_1 : 0 / saq6_1 : 0 / 0
saq6_2 : 0 / saq6_2 : 0 / 0
saq7_1 : 0 / saq7_1 : 0 / 0
saq7_2 : 0 / saq7_2 : 0 / 0
saq8_1 : 0 / saq8_1 : 0 / 0
saq8_2 : 0 / saq8_2 : 0 / 0
saq9_1 : 0 / saq9_1 : 0 / 0
saq9_2 : 0 / saq9_2 : 0 / 0
saq10_1 : 0 / saq10_1 : 0 / 0
saq10_2 : 0 / saq10_2 : 0 / 0
saq11_1 : 0 / saq11_1 : 0 / 0
saq11_2 : 0 / saq11_2 : 0 / 0
saq12_1 : 0 / saq12_1 : 0 / 0
saq12_2 : 0 / saq12_2 : 0 / 0
saq13_1 : 0 / saq13_1 : 0 / 0
saq13_2 : 0 / saq13_2 : 0 / 0
saq14_1 : 0 / saq14_1 : 0 / 0
saq14_2 : 0 / saq14_2 : 0 / 0
saq15_1 : 0 / saq15_1 : 0 / 0
saq15_2 : 0 / saq15_2 : 0 / 0
saq16_1 : 0 / saq16_1 : 0 / 0
saq16_2 : 0 / saq16_2 : 0 / 0
saq17_1 : 0 / saq17_1 : 0 / 0
saq17_2 : 0 / saq17_2 : 0 / 0
saq18_1 : 0 / saq18_1 : 0 / 0
saq18_2 : 0 / saq18_2 : 0 / 0
saq19_1 : 0 / saq19_1 : 0 / 0
saq19_2 : 0 / saq19_2 : 0 / 0
saq20_1 : 0 / saq20_1 : 0 / 0
saq20_2 : 0 / saq20_2 : 0 / 0
saq21_1 : 0 / saq21_1 : 0 / 0
saq21_2 : 0 / saq21_2 : 0 / 0
saq22_1 : 0 / saq22_1 : 0 / 0
saq22_2 : 0 / saq22_2 : 0 / 0
saq23_1 : 0 / saq23_1 : 0 / 0
saq23_2 : 0 / saq23_2 : 0 / 0
saq24_1 : 0 / saq24_1 : 0 / 0
saq24_2 : 0 / saq24_2 : 0 / 0
saq25_1 : 0 / saq25_1 : 0 / 0
saq25_2 : 0 / saq25_2 : 0 / 0
saq26_1 : 0 / saq26_1 : 0 / 0
saq26_2 : 0 / saq26_2 : 0 / 0
saq27_1 : 0 / saq27_1 : 0 / 0
saq27_2 : 0 / saq27_2 : 0 / 0
saq28_1 : 0 / saq28_1 : 0 / 0
saq28_2 : 0 / saq28_2 : 0 / 0
saq29_1 : 0 / saq29_1 : 0 / 0
saq29_2 : 0 / saq29_2 : 0 / 0
saq30_1 : 0 / saq30_1 : 0 / 0
saq30_2 : 0 / saq30_2 : 0 / 0
saq31_1 : 0 / saq31_1 : 0 / 0
saq31_2 : 0 / saq31_2 : 0 / 0
saq32_1 : 0 / saq32_1 : 0 / 0
saq32_2 : 0 / saq32_2 : 0 / 0
saq33_1 : 0 / saq33_1 : 0 / 0
saq33_2 : 0 / saq33_2 : 0 / 0
saq34_1 : 0 / saq34_1 : 0 / 0
saq34_2 : 0 / saq34_2 : 0 / 0
saq35_1 : 0 / saq35_1 : 0 / 0
saq35_2 : 0 / saq35_2 : 0 / 0
saq36_1 : 0 / saq36_1 : 0 / 0
saq36_2 : 0 / saq36_2 : 0 / 0
saq37_1 : 0 / saq37_1 : 0 / 0
saq37_2 : 0 / saq37_2 : 0 / 0
saq38_1 : 0 / saq38_1 : 0 / 0
saq38_2 : 0 / saq38_2 : 0 / 0
saq39_1 : 0 / saq39_1 : 0 / 0
saq39_2 : 0 / saq39_2 : 0 / 0
saq40_1 : 0 / saq40_1 : 0 / 0
saq40_2 : 0 / saq40_2 : 0 / 0
saq41_1 : 0 / saq41_1 : 0 / 0
saq41_2 : 0 / saq41_2 : 0 / 0
saq42_1 : 0 / saq42_1 : 0 / 0
saq42_2 : 0 / saq42_2 : 0 / 0
saq43_1 : 0 / saq43_1 : 0 / 0
saq43_2 : 0 / saq43_2 : 0 / 0
saq44_1 : 0 / saq44_1 : 0 / 0
saq44_2 : 0 / saq44_2 : 0 / 0
vq1 : 0 / vq1 : 0 / 0
vq2 : 0 / vq2 : 0 / 0
vq3 : 0 / vq3 : 0 / 0
vq4 : 0 / vq4 : 0 / 0
vq5 : 0 / vq5 : 0 / 0
vq6 : 0 / vq6 : 0 / 0
vq7 : 0 / vq7 : 0 / 0
vq8 : 0 / vq8 : 0 / 0
vq9 : 0 / vq9 : 0 / 0
vq10 : 0 / vq10 : 0 / 0
vq11 : 0 / vq11 : 0 / 0
vq12 : 0 / vq12 : 0 / 0
vq13 : 0 / vq13 : 0 / 0
bq1 : 0 / bq1 : 0 / 0
bq2 : 0 / bq2 : 0 / 0
bq3 : 0 / bq3 : 0 / 0
bq4 : 0 / bq4 : 0 / 0
bq4_1a : 0 / bq4_1a : 0 / 0
bq4_1b : 0 / bq4_1b : 0 / 0
bq4_1c : 0 / bq4_1c : 0 / 0
bq5 : 0 / bq5 : 0 / 0
bq5_1 : 0 / bq5_1 : 0 / 0
bq5_2 : 0 / bq5_2 : 0 / 0
bq6 : 0 / bq6 : 0 / 0
bq7 : 0 / bq7 : 0 / 0
bq8_1 : 0 / bq8_1 : 0 / 0
bq8_2 : 0 / bq8_2 : 0 / 0
bq8_3 : 0 / bq8_3 : 0 / 0
bq9 : 0 / bq9 : 0 / 0
bq10 : 0 / bq10 : 0 / 0
bq11 : 0 / bq11 : 0 / 0
bq12_1 : 0 / bq12_1 : 0 / 0
bq12_2 : 0 / bq12_2 : 0 / 0
bq12_3 : 0 / bq12_3 : 0 / 0
bq12_4 : 0 / bq12_4 : 0 / 0
bq12_5 : 0 / bq12_5 : 0 / 0
bq13_1 : 0 / bq13_1 : 0 / 0
bq13_2 : 0 / bq13_2 : 0 / 0
bq13_3 : 0 / bq13_3 : 0 / 0
bq14_1 : 0 / bq14_1 : 0 / 0
bq14_2 : 0 / bq14_2 : 0 / 0
bq14_3 : 0 / bq14_3 : 0 / 0
bq14_4 : 0 / bq14_4 : 0 / 0
bq14_5 : 0 / bq14_5 : 0 / 0
bq14_6 : 0 / bq14_6 : 0 / 0
bq14_7 : 0 / bq14_7 : 0 / 0
bq15 : 0 / bq15 : 0 / 0
bq16_1 : 0 / bq16_1 : 0 / 0
bq16_2 : 0 / bq16_2 : 0 / 0
bq16_3 : 0 / bq16_3 : 0 / 0
bq16_4 : 0 / bq16_4 : 0 / 0
bq16_5 : 0 / bq16_5 : 0 / 0
bq16_6 : 0 / bq16_6 : 0 / 0
bq16_7 : 0 / bq16_7 : 0 / 0
bq16_8 : 0 / bq16_8 : 0 / 0
bq16_9 : 0 / bq16_9 : 0 / 0
bq16_10 : 0 / bq16_10 : 0 / 0
bq17 : 0 / bq17 : 0 / 0
bq18_1 : 0 / bq18_1 : 0 / 0
bq18_2 : 0 / bq18_2 : 0 / 0
bq18_3 : 0 / bq18_3 : 0 / 0
bq18_4 : 0 / bq18_4 : 0 / 0
bq18_5 : 0 / bq18_5 : 0 / 0
bq18_6 : 0 / bq18_6 : 0 / 0
bq18_7 : 0 / bq18_7 : 0 / 0
bq18_8 : 0 / bq18_8 : 0 / 0
bq18_9 : 0 / bq18_9 : 0 / 0
bq19 : 0 / bq19 : 0 / 0
bq20 : 0 / bq20 : 0 / 0
bq20_1 : 0 / bq20_1 : 0 / 0
bq21_1 : 0 / bq21_1 : 0 / 0
bq21_2 : 0 / bq21_2 : 0 / 0
bq21_3 : 0 / bq21_3 : 0 / 0
bq21_4 : 0 / bq21_4 : 0 / 0
bq22_1 : 0 / bq22_1 : 0 / 0
bq22_2 : 0 / bq22_2 : 0 / 0
bq22_3 : 0 / bq22_3 : 0 / 0
bq22_4 : 0 / bq22_4 : 0 / 0
bq22_5 : 0 / bq22_5 : 0 / 0
bq22_6 : 0 / bq22_6 : 0 / 0
bq23_1 : 0 / bq23_1 : 0 / 0
bq23_2 : 0 / bq23_2 : 0 / 0
bq23_3 : 0 / bq23_3 : 0 / 0
bq24 : 0 / bq24 : 0 / 0
bq25 : 0 / bq25 : 0 / 0
bq26 : 0 / bq26 : 0 / 0
bq26_1 : 0 / bq26_1 : 0 / 0
bq27_1 : 0 / bq27_1 : 0 / 0
bq27_2 : 0 / bq27_2 : 0 / 0
bq28 : 0 / bq28 : 0 / 0
bq29 : 0 / bq29 : 0 / 0

In [45]:
train_2020.to_csv('2020train.csv',encoding="UTF-8")
test_2020.to_csv('2020test.csv',encoding="UTF-8")